@import "reset";
@import "mixins";
@import "vars";
@import "icons";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


body {
  font-family: $bodyFont;
  background-color: #333333;

  #hero_image_scroller {
    position: relative;
    margin: 0 auto;
    background-color: #000;

    #loader_holder{
      position: absolute;
      z-index: 666;
      right: 60px;
      top: 60px;

      #loader {
        position: absolute;
        opacity: 0;
      }
    }

  }

  #peopleHolder {
    position: relative;

    .person {
      position: absolute;
      .details {
        position: absolute;
        top: 60%;
        left: 0;
        width: 350px;
        height: 85px;
        text-align: right;
        background-color: #FFFFFF;
        font-size: 16px;
        h1 {
          font-size: 18px;
          margin: 20px 20px 0 0;
        }
        h2 {
          font-size: 11px;
          margin: 2px 20px 0 0;
          color: #3d3d3d;
        }
      }
    }
    .person-video {
      min-width:100%;
    }
    #person1 {
      left:0px;
    }

    #person2 {
      left:0px;
    }
  }

}


